<p>
	<mat-toolbar color="primary">
	  <button (click)="asideToggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	  </button>
	  <span>Welcome Sharon</span>
	  <span class="example-spacer"></span>
	  <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
		<mat-icon>person_add</mat-icon>
	  </button>
	  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>settings</mat-icon>
	  </button>
	  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>help</mat-icon>
	  </button>
	  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>more settings</button>
  <button mat-menu-item>sigh out</button>
</mat-menu>
	</mat-toolbar>
  </p>
