<div style="text-align: center;">
<img width="250px" src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="">
<h2>SHARON</h2>
<h4>sharonbabu107@gmail.com</h4>
</div>
<mat-divider></mat-divider>


<div class="pages">
	
	<h3>Pages</h3>
	<mat-divider></mat-divider>
	<a routerLink="">DashBoard</a>
	<mat-divider></mat-divider>
	<a routerLink="gallery">Table</a>
	<mat-divider></mat-divider>
	<a routerLink="prices">Prices</a>
	<mat-divider></mat-divider>
</div>

<div class="pages">
	
	<h3>Tools</h3>
	<mat-divider></mat-divider>
	<a routerLink="add">Add Employee</a>
	<mat-divider></mat-divider>
	<a routerLink="lead">Lead Employee</a>
	<mat-divider></mat-divider>
	
</div>


